* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Condensed", sans-serif;
		background-image: url(../img/Liza.png);
		/* background-position: left 10% bottom 50%; */
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		display: block;
}

.container {
    margin: 10px 10px;
    max-width: 900px;
		min-width: 370px;
		min-height: 750px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
}
@media (max-width: 426px) {
	.container {
		margin: 10px 10px;
    padding: 0;
		justify-content: left;
	}
}

.title {
	color:purple;
	margin-left: 125px;
	font-size: 80px;
	font-weight: bold;
	font-style: normal;
}

@media (max-width: 426px) {
	.title {
		margin-left: 10px;
		font-size: 40px;
		font-weight: 900;
		font-style: normal;
	}
}

.text {
    color:purple;
    margin: 0, auto;
    font-size: 45px;
    font-weight: 900;
    font-style: italic;
}

@media (max-width: 426px) {
	.text {
		font-size: 25px;
		font-weight: 700;
		font-style: italic;
	}
}
.countdown {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    min-width: 320px;
    color:purple
}

.countdown-item {
    background-color: greenyellow;
    padding: 5px;
    min-width: 65px;
}

.expired {
    color:darkred;
    margin: 0, auto;
    font-size: 50px;
    font-weight: 900;
    font-style: italic;
}

.image-button {
	position: absolute;
	top: 50px;
	right: 50px;
	background-image: url('../img/heart-Photoroom.png');
	background-size: cover;
	margin: 0; 
	padding: 0; 
	outline: none; 
	background-color: transparent;
	height: 150px;
	width: 150px;
	border: none;
	z-index: 22;
	cursor: pointer;
}

.image-button:hover {
		transform: scale(2);
}

@media (max-width: 769px) {
	.image-button {
		top: calc(65vh);
		left: calc(10vw);
	}
}

/* @media (max-width: 426px) {
	.image-button {
		top: 300px;
		left: 10px;
	}
} */